/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {

  .page.theme_auto {
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
  }

  .page.theme_auto .title-decorated {
    --text-color: #000028;
  }

  .page.theme_auto .header__theme-menu-button {
    color: var(--accent-color);
  }

  .page.theme_auto .header::before,
  .page.theme_auto .header::after {
    --text-color: #ff0070;
  }

  .page.theme_auto .header__heading {
    --text-color: #db00ff;
  }

  .page.theme_auto .accent-colored-heading {
    color: var(--accent-color);
  }

  .page.theme_auto .header__theme-menu-button_active {
    outline: 1px solid currentColor;
  }

  .page.theme_auto .header__theme-menu-button:hover {
    --hovered-color: #ff007050;
  }

  .page.theme_auto .rec-elem {
    visibility: visible;
  }

  .page.theme_auto .footer__heading {
    --text-color: #db00ff;
  }
}

.page.theme_dark .main__section > .main__section-heading {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  --text-color: #ff0070;
}

.page.theme_dark .header__theme-menu-button:hover {
  --hovered-color: #ff007050;
}

.page.theme_dark .header__theme-menu-button_active {
  outline: 1px solid currentColor;
}

.page.theme_dark .rec-elem {
  visibility: visible;
}

.page.theme_dark .header::before,
.page.theme_dark .header::after,
.page.theme_dark .footer::before,
.page.theme_dark .footer::after {
  --text-color: #ff0070;
}

.page.theme_dark .header__heading {
  --text-color: #db00ff;
}

.page.theme_dark .accent-colored-heading {
  color: var(--accent-color);
}

.page.theme_dark .title-decorated {
  --text-color: #000028;
}

.page.theme_dark .footer__heading {
  --text-color: #db00ff;
}
