/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accented-text-color: #353430;
  --main-heading-color: #ffc2e6;
  --title-decor-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --hover-outline-color: #35343050;
  --background-color: #fff1f7;
  --visibility: hidden;
}
