/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--main-font);
  font-weight: var(--normal);
  line-height: var(--max-height);
}

.decorated-zone::before {
  display: block;
  margin-inline-start: auto;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--accented-text-color);
  border-block-start: 1px solid var(--accented-text-color);
  margin-inline-end: 10px;
}

@media (width >= 768px) {

  .decorated-zone::before {
    margin-inline-end: 20px;
  }
}

.decorated-zone::after {
  margin-inline-end: auto;
  display: block;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--accented-text-color);
  border-block-end: 1px solid var(--accented-text-color);
  margin-inline-start: 10px;
}

@media (width >= 768px) {

  .decorated-zone::after {
    margin-inline-start: 20px;
  }
}

.article__heading {
  color: var(--title-decor-color);
  margin: 20px 0 10px;
}

.article {
  grid-column: 2 / 4;
}

.title-decor {
  background-color: var(--accent-color);
}

.line-break {
  display: block;
}

.link-active {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link-active:hover {
  border-block-end: 1px solid var(--text-color);
}

.link-active:focus {
  outline: none;
}

.link-active:focus-visible {
  outline: 1px solid var(--text-color);
}

section:nth-of-type(3)
  .article__heading:not(
    .article:first-of-type > .article__heading:first-child
  ) {
  font-weight: var(--normal);
}

@media (width >= 768px) {

  .article:first-of-type .article__heading {
    margin: 0 0 10px;
  }

  .section:nth-of-type(2) .article__heading {
    margin: 20px 0 10px;
  }

  .section:nth-of-type(3) .article__heading:nth-child(2) {
    margin: 20px 0 10px;
  }
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 5fr 5fr 5fr 1fr;
  min-block-size: 100vh;
  padding: 10px 0;
}

@media (width >= 768px) {

  .header {
    padding: 20px 0;
  }
}

@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }
}

.header.decorated-zone::before {
  grid-column: 4 / 5;
}

.header.decorated-zone::after {
  grid-row: 5 / 6;
  align-self: flex-end;
}

.rec-elem {
  grid-column: 4 / 5;
  position: absolute;
  text-transform: uppercase;
  --max-height: 138.889%;
  line-height: var(--max-height);
  color: var(--accent-color);
  inset-inline-end: 13px;
  inset-block-start: 11px;
  visibility: var(--visibility);
}

@media (width >= 768px) {

  .rec-elem {
    inset-block-start: 21px;
    inset-inline-end: 23px;
  }
}

.rec-elem::after {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  background-image: url(../images/Ellipse4.svg); /*убрал из имени файла пробел*/
  background-size: cover;
  background-repeat: no-repeat;
  block-size: 25px;
  inline-size: 25px;
}

.header__theme-menu {
  grid-column: 4 / 5;
  justify-self: self-end;
  align-self: center;
  padding-block-end: 41px;
  padding-inline-end: 10px;
  color: var(--accented-text-color);
}

@media (width >=768px) {

  .header__theme-menu {
    padding: 35px 20px 0 0;
  }
}

@media (width >=1024px) {

  .header__theme-menu {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: self-start;
    padding: 0;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width >=1024px) {

  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  cursor: pointer;
  appearance: none;
  border: none;
  padding: 3px 12px;
  background-color: transparent;
  line-height: var(--mid-height);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accented-text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--text-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--hover-outline-color);
}

.header__heading {
  grid-row: 3 / 4;
  grid-column: span 4;
  font-size: clamp(6.444rem, 0.969vw + 6.253rem, 6.667rem);
  line-height: var(--min-height);
  color: var(--main-heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-inline-start: 10px;
}

@media (width > 768px) {

  .header__heading {
    font-size: clamp(6.667rem, 14.453vw + 0.5rem, 8.722rem);
  }
}

@media (width >= 768px) {

  .header__heading {
    padding: 0;

    align-self: center;
  }
}

@media (width >= 1024px) {

  .header__heading {
    text-shadow: 4px 4px 0 var(--main-heading-other-shadow-color);
  }
}

.header__description {
  max-inline-size: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
  grid-row: 4 / 5;
  grid-column: 1 / 5;
  justify-self: self-end;
  align-self: self-end;
  block-size: fit-content;
  font-weight: var(--bold);
  color: var(--title-decor-color);
  margin: 0 10px 19px;
}

@media (width >= 768px) {

  .header__description {
    max-inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
    grid-column: 3 / 5;
    align-self: center;
    margin: 0 22px 38px 0;
  }
}

@media (width >= 1024px) {

  .header__description {
    margin: 0 22px 0 0;
  }
}

.main {
  padding: 40px 10px 0;
}

@media (width >= 768px) {

  .main {
    padding: 60px 20px 0;
  }
}

.section {
  padding-block-end: 50px;
}

.section:nth-of-type(3) {
  padding-block-end: 30px;
}

@media (width >= 768px) {

  .section:nth-of-type(3) {
    padding-block-end: 60px;
  }
}

.gallery {
  padding-block-end: 40px;
}

@media (width >= 768px) {

  .gallery__article .article__heading {
    margin-block-end: 0;
  }
}

@media (width >= 768px) {

  .section {
    padding-block-end: 80px;
    display: grid;
    column-gap: 38px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    padding-block-end: 60px;
  }
}

.section__heading {
  color: var(--accented-text-color);
}

@media (width >= 768px) {

  .section__heading {
    grid-row: 1 / 4;
  }
}

@media (width >= 768px) {

  .section:nth-of-type(2) .article {
    grid-column: 1 / 4;
  }
}

@media (1024px > width >= 768px) {

  .section:nth-of-type(3) {
    column-gap: 20px;
    grid-template-columns: 236px 1fr 1fr;
  }
}

@media (width >=1024px) {

  .section {
    column-gap: 20px;
  }

  .section:nth-of-type(2) .section__heading {
    grid-row: 1 / 2;
  }

  .section:nth-of-type(2) .article {
    grid-row: 2 / 3;
    grid-column: auto;
  }

  .section:nth-of-type(2) p {
    grid-row: 3 / 4;
    grid-column: auto;
  }
}

.image {
  display: block;
  width: 100%;
}

@media (width < 768px) {

  .image:not(.image:first-of-type) {
    margin-block-start: 10px;
  }
}

@media (width >= 768px) {

  .gallery__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
      'heading heading heading'
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
  }

  .gallery .article__heading {
    grid-area: heading;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
    min-block-size: 100%;
    object-fit: cover;
  }

  .tape {
    grid-area: tape;
    min-block-size: 100%;
    object-fit: cover;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-block-size: 100vh;
}

@media (width >= 1024px) {

  .footer {
    min-block-size: 768px;
  }
}

.footer::before {
  margin-block-start: 10px;
}

@media (width >= 768px) {

  .footer::before {
    margin-block-start: 20px;
  }
}

.footer::after {
  margin-block-end: 10px;
}

@media (width >= 768px) {

  .footer::after {
    margin-block-end: 20px;
  }
}

.footer__heading {
  font-size: clamp(6.444rem, 0.969vw + 6.253rem, 6.667rem);
  line-height: var(--min-height);
  color: var(--main-heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-start: 4px;
}

@media (width > 768px) {

  .footer__heading {
    font-size: clamp(6.667rem, 14.453vw + 0.5rem, 8.722rem);
  }
}

@media (width >= 1024px) {

  .footer__heading {
    text-shadow: 4px 4px 0 var(--main-heading-other-shadow-color);
  }
}
