/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --hover-outline-color: #35343050;
  --main-font: 'IBM Plex mono', monospace;
  --bold: 700;
  --normal: 400;
  --min-height: 82.5%;
  --mid-height: 100%;
  --max-height: 130%;
  --main-size: 18px;
}
