/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --main-font: 'IBM Plex mono', monospace;
  --hover-outline-color: #35343050;
}
